.footer_page{
    background-color:RGB(35, 47, 62);
    color: white;
    padding-left: 15%;
    padding-right: 15%;
    
}
th{
    
    padding-left: 45px;
    padding-right: 45px;
    
}
p{
    font-size: 15px;
    padding-bottom: 10px;
    
}
h3{
    padding-top: 30px;
    padding-bottom: 12px;
}
.footer_last{
    background-color:RGB(19, 26, 34) ;
    text-align: center;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    font: 1em sans-serif;
}
